In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("data.csv")
data

    TIME\n(s)  INTENSITY\n(cps)  TIME\n(s).1  INTENSITY\n(cps).1
0      0.0174             10004       0.0174                8004
1      0.0175                 0       0.0175                   0
2      0.0177                 0       0.0177                   0
3      0.0178                 0       0.0178                   0
4      0.0179                 0       0.0179                6660
5      0.0180                 0       0.0180                   0
6      0.0181                 0       0.0181                   0
7      0.0182                 0       0.0182               11110
8      0.0183                 0       0.0183                   0
9      0.0184                 0       0.0184                   0
10     0.0185             10004       0.0185               10004
11     0.0186                 0       0.0186                   0
12     0.0187                 0       0.0187                   0
13     0.0188                 0       0.0188                   0
14     0.0189                 0       0.0189                   0
15     0.0191                 0       0.0191                   0

In [76]:
sampleTime = pd.read_csv("SAMPLE TIME.csv", ";",  skiprows=[1], low_memory=False)
sampleY = pd.read_csv("SAMPLE Y.csv", ";",  skiprows=[1], low_memory=False)
blankTime = pd.read_csv("BLANK TIME.csv", ";",  skiprows=[1], low_memory=False)
blankY = pd.read_csv("BLANK Y.csv", ";",  skiprows=[1], low_memory=False)

In [81]:
sampleData = pd.concat([sampleTime['Sample 1'], sampleY['Sample 1']],  axis=1)
blankData = pd.concat([blankTime['Sample 1'], blankY['Sample 1']], axis=1)
sampleData.columns=['time', 'intensity']
blankData.columns = ['time', 'intensity']

In [85]:
sampleData['intensity']

             time     intensity
0         0.01743  10004.001601
1         0.01754      0.000000
2         0.01765      0.000000
3         0.01776      0.000000
4         0.01786      0.000000
5         0.01797      0.000000
6         0.01808      0.000000
7         0.01819      0.000000
8         0.01829      0.000000
9         0.01840      0.000000
10        0.01851  10004.001601
11        0.01862      0.000000
12        0.01872      0.000000
13        0.01883      0.000000
14        0.01894      0.000000
15        0.01905      0.000000
16        0.01915  10004.001601
17        0.01926      0.000000
18        0.01937      0.000000
19        0.01948  10004.001601
20        0.01958  20016.012810
21        0.01969  10004.001601
22        0.01980  10004.001601
23        0.01991  20016.012810
24        0.02001      0.000000
25        0.02012      0.000000
26        0.02023      0.000000
27        0.02034      0.000000
28        0.02044      0.000000
29        0.02055      0.000000
...           ...           ...
305390  124.94947      0.000000
305391  124.94964      0.000000
305392  124.94981      0.000000
305393  124.94999      0.000000
305394  124.95017      0.000000
305395  124.95034  10004.001601
305396  124.95052      0.000000
305397  124.95069      0.000000
305398  124.95086      0.000000
305399  124.95104      0.000000
305400  124.95122  10004.001601
305401  124.95139      0.000000
305402  124.95157      0.000000
305403  124.95174      0.000000
305404  124.95191      0.000000
305405  124.95210      0.000000
305406  124.95228      0.000000
305407  124.95245      0.000000
305408  124.95262      0.000000
305409  124.95280      0.000000
305410  124.95297      0.000000
305411  124.95316      0.000000
305412  124.95333      0.000000
305413  124.95351      0.000000
305414  124.95368      0.000000
305415  124.95386      0.000000
305416  124.95404      0.000000
305417  124.95421      0.000000
305418  124.95438      0.000000
305419  124.95456      0.000000

[305420 rows x 2 columns]

In [3]:
count = len(data)

data.columns

Index(['TIME\n(s)', 'INTENSITY\n(cps)', 'TIME\n(s).1', 'INTENSITY\n(cps).1'], dtype='object')

In [4]:
ionBlankThreshold = data['INTENSITY\n(cps)'].mean()


ionThreashold = 9550
ionBlankThreshold

1250.5

In [5]:
def calcIonIntensity (row):
    intensity =  row['INTENSITY\n(cps).1']
    if intensity == "" or intensity > ionThreashold :
        return np.nan
    else:
        if intensity > ionBlankThreshold :
            return intensity
    return 0

data['Ion_Intensity'] = data.apply (lambda row: calcIonIntensity (row),axis=1)


data

,TIME (s),INTENSITY (cps),TIME (s).1,INTENSITY (cps).1,Ion_Intensity
0,0.0174,10004,0.0174,8004,8004.0
1,0.0175,0,0.0175,0,0.0
2,0.0177,0,0.0177,0,0.0
3,0.0178,0,0.0178,0,0.0
4,0.0179,0,0.0179,6660,6660.0
5,0.0180,0,0.0180,0,0.0
6,0.0181,0,0.0181,0,0.0
7,0.0182,0,0.0182,11110,NaN
8,0.0183,0,0.0183,0,0.0
9,0.0184,0,0.0184,0,0.0
10,0.0185,10004,0.0185,10004,NaN
11,0.0186,0,0.0186,0,0.0
12,0.0187,0,0.0187,0,0.0
13,0.0188,0,0.0188,0,0.0
14,0.0189,0,0.0189,0,0.0
15,0.0191,0,0.0191,0,0.0

In [6]:
ionIntensityAvg = data['Ion_Intensity'].mean()


def calcBlankSubstracted (row):
    intensity =  row['INTENSITY\n(cps).1']
    if(intensity > ionThreashold):
        return intensity - ionIntensityAvg
    return np.nan

data['Ion_Blank_Substracted'] = data.apply (lambda row: calcBlankSubstracted (row),axis=1)


data

,TIME (s),INTENSITY (cps),TIME (s).1,INTENSITY (cps).1,Ion_Intensity,Ion_Blank_Substracted
0,0.0174,10004,0.0174,8004,8004.0,NaN
1,0.0175,0,0.0175,0,0.0,NaN
2,0.0177,0,0.0177,0,0.0,NaN
3,0.0178,0,0.0178,0,0.0,NaN
4,0.0179,0,0.0179,6660,6660.0,NaN
5,0.0180,0,0.0180,0,0.0,NaN
6,0.0181,0,0.0181,0,0.0,NaN
7,0.0182,0,0.0182,11110,NaN,10062.571429
8,0.0183,0,0.0183,0,0.0,NaN
9,0.0184,0,0.0184,0,0.0,NaN
10,0.0185,10004,0.0185,10004,NaN,8956.571429
11,0.0186,0,0.0186,0,0.0,NaN
12,0.0187,0,0.0187,0,0.0,NaN
13,0.0188,0,0.0188,0,0.0,NaN
14,0.0189,0,0.0189,0,0.0,NaN
15,0.0191,0,0.0191,0,0.0,NaN

In [12]:
dt =0.10
ds =2100
sf= 0.02
ne= 11
    
def calcBlankSubstracted (row):
    
    intensity =  row['Ion_Blank_Substracted']
    if(intensity != np.nan):
        return  intensity * dt/1000/ds*sf*ne/60*10000
    return np.nan


data['Element_Mass'] = data.apply (lambda row: calcBlankSubstracted (row),axis=1)


data

,TIME (s),INTENSITY (cps),TIME (s).1,INTENSITY (cps).1,Ion_Intensity,Ion_Blank_Substracted,Element_Mass
0,0.0174,10004,0.0174,8004,8004.0,NaN,NaN
1,0.0175,0,0.0175,0,0.0,NaN,NaN
2,0.0177,0,0.0177,0,0.0,NaN,NaN
3,0.0178,0,0.0178,0,0.0,NaN,NaN
4,0.0179,0,0.0179,6660,6660.0,NaN,NaN
5,0.0180,0,0.0180,0,0.0,NaN,NaN
6,0.0181,0,0.0181,0,0.0,NaN,NaN
7,0.0182,0,0.0182,11110,NaN,10062.571429,0.017570
8,0.0183,0,0.0183,0,0.0,NaN,NaN
9,0.0184,0,0.0184,0,0.0,NaN,NaN
10,0.0185,10004,0.0185,10004,NaN,8956.571429,0.015638
11,0.0186,0,0.0186,0,0.0,NaN,NaN
12,0.0187,0,0.0187,0,0.0,NaN,NaN
13,0.0188,0,0.0188,0,0.0,NaN,NaN
14,0.0189,0,0.0189,0,0.0,NaN,NaN
15,0.0191,0,0.0191,0,0.0,NaN,NaN

In [14]:
cells = []
sum = 0
for a in data['Element_Mass']:
    if not np.isnan(a):
        sum = sum + a
    else:
        if(sum > 0):
            cells.append(sum)
            sum = 0
            
if sum > 0:
    cells.append(sum)
    
detectedCells = len(cells)
massMean = np.mean(cells)
massStd = np.std(cells)
ionicConcentration = ionIntensityAvg / ds

detectedCells, massMean, massStd, ionicConcentration

(2, 0.01660401360544218, 0.0009655555555555563, 0.49877551020408156)